*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: #bbf0f3;
    background-image: linear-gradient(315deg, #bbf0f3 0%, #f6d285 74%);
}

nav{
    
    position:fixed;
    display: flex;
    height: 55px;
    background-color:white;
    width:100%;
    margin:0;
    font-size: 15px;
    justify-content:space-between;
    z-index:100; 
}
#logo{
    display: flex;
    height: 100%;
    padding: 0 18px;
    align-items: center;
}
#logo img{
    height:50px;
}
#logo:hover{
    opacity: 80%;
}
nav ul a{
    padding:19px 41px;
    color:#3434a5;
    margin:13px;
    text-decoration: none;
}
nav ul a:hover{
    opacity:70%;
}
nav ul a:visited{
    border-bottom-style: solid;
    border-bottom-color: yellow;
}
ul{
    display: flex;
    flex-basis:60%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height:100%;
}
.fields{
    margin-top:409px;
    width: 100%;
    height: 1000px;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal{
    height:1000%;
    width:80%;
    padding: 20px;
    border-radius: 3px;
    position: static;
}
form{
    margin:0 auto;
    height: 100%;
    width: auto;
}
input[type=text], input[type=date], input[type=tel], input[type=number]{
    width:50%;
    border-style: hidden;
    box-shadow: 2px 2px 3px grey;
    border-radius: 3px;
    height: 60px;
    padding:10px;
    margin-top:10px;
}
input[type=radio]:checked{
    background-color: #3434a5;

}
input[type=submit]{
    margin:9px;
    color:white;
    background-color: #3434a5;
    border-style: none;
    box-shadow: 2px 1px 6px 1px #3434a5;
    height: 37px;
    width: 7%;
}
input[type=submit]:hover{
    cursor: pointer;
}
fieldset{
    text-align: center;
    padding:20px;
    border-style: solid;
    border-radius: inherit;
    border-color: white;
 }